<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %yellow{%5p} --- [%21.21t] %cyan{%-40.40c{1.}} : %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="org.springframework" level="info"/>
        <Logger name="org.hibernate" level="info"/>
        <Logger name="org.jboss.resteasy" level="info"/>
        <Logger name="org.apache.tomcat" level="info"/>

        <Root level="DEBUG">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>